.entry-field {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

.entry-field::before {
    min-height: 30px;
}

.entry-field::after {
    min-height: 64px;
}

.entry-field::before, .entry-field::after {
    box-flex: 1;
    flex-grow: 1;
    content: '';
    display: block;
    height: 24px;
}

.entry-field, .entry-field::before, .entry-field::after {
    box-sizing: border-box;
}

.entry-box {
    width: 450px;
    margin: 0 auto;
    display: block;
    border-radius: 8px;
    border: 1px solid #dadce0;
    flex-shrink: 0;
    -moz-border-radius: 8px;
    min-height: 0;
    box-sizing: inherit;
    transition: .2s;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    background: #fff;
    max-width: 100%;
    position: relative;
    z-index: 2;
}

.entry-title {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}